* {
    padding: 0%;
    margin: 0%;
 

}

.why {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}
.why-list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.why-align {
    width: 70%;
    display: flex;
    gap: 32px;

}

.why-head {
    text-align: center;
    padding: 50px 0;
    position: relative;
}

.why-head::after {
    content: "";
    width: 100px;
    height: 14px;
    background: url(/src/components/home/image/curveline-icon.svg) no-repeat;
    position:absolute;
    top: 100px;
    left: 50%;
    /* bottom: -4px; */
    /* left: 25%;
    top: 70%; */

}


.why-list ul {
    padding: 18px;
    box-shadow: 0px 4px 16px 0px #00000026;
    width: 270px;
    height: 200px;

}

.why-list li {
    max-width: 211px;
    color: #392C7D;
    max-height: 23px;
    padding-top: 14px;
    padding-bottom: 9px;
    font-size: 15px;
    list-style: none;
}

.why-list img {
    width: 50px;
    height: 50px;
}

.why-list p {
    max-width: 241px;
    height: 63px;
    font-size: 14px;
}

@media screen and (max-width: 900px) {

    .why-list {
        width: 100%;
    }

    .why-list li {
        font-size: 12px;
    }

    .why-list p {
        padding-top: 25px;
        font-size: 12px;
    }

    .why-list ul {
        height: 350px;
    }
}

@media screen and (max-width: 560px) {
    .why-list {
        width: 100%;
    }

    .why-list li {
        font-size: 11px;
    }

    .why-list p {
        padding-top: 25px;
        font-size: 11px;
    }

    .why-list ul {

        height: 350px;
    }

}

@media screen and (max-width: 560px) {

    .why-list {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .why-align {
        width: 80%;
        display: grid;
        justify-content: center;
    }

    .why-list ul {
        width: 295px;
        height: 218px;
    }

    .why-list li {
        width: 228px;
        height: 29px;

    }

    .why-list p {
        width: 243px;
        height: 62px;
    }

}

/*              Courses           */

.course {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 50px;
    
}
.course-main {
    width: 80%;

    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.course-grid {
    /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 20px; */
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    align-items: center;

}
.course li {
    list-style: none;
}

.course-heading {
    text-align: center;
}

.course-details {
    display: flex;
    flex-direction: column;
    box-shadow: 10px 15px 62px 0px red;
    gap: 5px;
    width: 292px;
    height: 447px;
    padding: 10px;
}

.course-details .course-profile {
    width: 271px;
    height: 186px;
}

.course-star-review {

    display: flex;
    width: 90%;

    justify-content: space-between;
}

.course-lessons {
    display: flex;
    gap: 2px;
    padding-top: 2px;
}

.checkbox {
    padding-top: 2px;
    display: flex;
    gap: 10px;
}

.course p {
    padding: 10px 0;
}

.course-details .course-star {
    width: 64px;
    height: 12px;
}

.course-line {
    font-size: 20px;
    width: 250px;
    height: 25px;
}


.course-price-cart {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}

.course-price-cart .first {

    display: flex;
    gap: 10px;
}

.course-price-cart .second {
    display: flex;
    gap: 10px;
}





@media screen and(min-width: 1140px) {
    .course {
        width: 100%;

    }

    .course-details {
        width: 200px;
    }
}


.how-work{

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    /* flex-wrap: wrap; */
   
}
.how-heading{
    padding: 50px 0;
    width: 250px;
    height: 30px;
}

.how-work p{
    width: 281px;
    height: 50px;
}
.arrow1{
    padding-bottom: 5%;
    /* padding-left: 20%;
    transform: rotate(90deg);
    padding-bottom: 50%; */
}
.how-work div{
    text-align: center;
}


@media (max-width: 1120px) {
  .how-work{
    padding: 20px 0;
    flex-direction: column;
    gap: 60px;
  
  }

 .arrow1{
    transform: rotate(90deg);
    padding-top: 20px;
    padding-bottom: 20px;
}
.arrow2{
    transform: rotate(90deg);
    padding-top: 20px;
    padding-bottom: 20px;
}
}




 /* benefits */


 .benefits-e-learn{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  justify-content: center;
 }
 .benefits{
    display: flex;
    
 }
 .benefits div{
    width: 100%;
    height: 474px;
 }
 .benefits-image{
    display: flex;
    justify-content: center;
 }
 .benefits img{
    width: 350px;
    height: 474px;
 }
 .benefits-left{
   
 display: flex;
    flex-direction: column;
    gap: 20px;
 }
 .benefits-right{
   
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 20px;
 }
 @media (max-width: 900px) {

    .benefits{
        display: flex;
        flex-direction: column;
       gap: 30px;
    }
    .benefits-left{
   
        display: flex;
           flex-direction: column;
           gap: 20px;
        
        }
        .benefits div{
            width: 100%;
            height: 420px;
          
         }
         .benefits img{
            width: 350px;
            height: 474px;
            padding-bottom: 50px;
         }

    .benefits-right{
       
        text-align: left;
        display: flex;
        flex-direction: column;
        padding-top: 60px;
        gap: 20px;
     }
 }



 /* testimonials */


 .testimonials{
    padding-top: 40px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
 }

.test-list{
/* 
    display: grid;
    grid-template-columns: repeat(6,1fr);
    width: 50%;
    overflow-x: scroll; */
 }
 
 .test-list-1{
  
    display: flex;
    gap: 10px;
    width: 398px;
    height: 210px;
    background: #FFFFFF;

    flex-direction: column;
    
 }
 
 .list-row{
    display: flex;
    width: 100%;
    gap: 20px;
 }

.list-title{
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.list-title h1{
  font-size: 24px;
  width: 150px;
  height: 32px;
}
.list-title p{
    font-size: 16px;
    width: 60px;
    height: 24px;
  } 
  #secondClass{
    display: none;
}

  /* view  */


  .view{
    display: flex;
    justify-content:space-around;
    align-items: center;
    gap: 50px;
    padding-top: 30px;

  }
  .view-left{
    /* display: flex; */
    width: 100%;
  }

  .view-right{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap:30px;
    
  }
  .view-right img{
    width: 170px;
    height: 50px;
  }
  .view-img1{
    width: 122px;
    height: 237px;
    /* float: right; */
    padding-top: 9%;
    padding-left: 20%;
  } 
  .view-img2{
    float: right;
   width: 388px;
   height: 300px;
  }
  @media(max-width:800px)
  {
    .view{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .view-left{
        display: flex;
        justify-content:right;
        align-items: center;
    }
    .view-img1{
        float: left;
        width: 66px;
        height: 130px;
    }
    .view-img2{
        width: 288px;
        height: 177px;
    }
  }
  