* {
    padding: 0%;
    margin: 0%;
 

}

.why {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}
.why-list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.why-align {
    width: 70%;
    display: flex;
    gap: 32px;

}

.why-head {
    text-align: center;
    padding: 50px 0;
    position: relative;
}

.why-head::after {
    content: "";
    width: 100px;
    height: 14px;
    background: url(/src/components/home/image/curveline-icon.svg) no-repeat;
    position:absolute;
    top: 100px;
    left: 50%;
    /* bottom: -4px; */
    /* left: 25%;
    top: 70%; */

}


.why-list ul {
    padding: 18px;
    box-shadow: 0px 4px 16px 0px #00000026;
    width: 270px;
    height: 200px;

}

.why-list li {
    max-width: 211px;
    color: #392C7D;
    max-height: 23px;
    padding-top: 14px;
    padding-bottom: 9px;
    font-size: 15px;
    list-style: none;
}

.why-list img {
    width: 50px;
    height: 50px;
}

.why-list p {
    max-width: 241px;
    height: 63px;
    font-size: 14px;
}

@media screen and (max-width: 900px) {

    .why-list {
        width: 100%;
    }

    .why-list li {
        font-size: 12px;
    }

    .why-list p {
        padding-top: 25px;
        font-size: 12px;
    }

    .why-list ul {
        height: 350px;
    }
}

@media screen and (max-width: 560px) {
    .why-list {
        width: 100%;
    }

    .why-list li {
        font-size: 11px;
    }

    .why-list p {
        padding-top: 25px;
        font-size: 11px;
    }

    .why-list ul {

        height: 350px;
    }

}

@media screen and (max-width: 560px) {

    .why-list {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .why-align {
        width: 80%;
        display: grid;
        justify-content: center;
    }

    .why-list ul {
        width: 295px;
        height: 218px;
    }

    .why-list li {
        width: 228px;
        height: 29px;

    }

    .why-list p {
        width: 243px;
        height: 62px;
    }

}

/*              Courses           */

.course {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 50px;
    
}
.course-main {
    width: 80%;

}
.course-grid {
  
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    align-items: center;

}
.course li {
    list-style: none;
}

.course-heading {
    text-align: center;
}

.course-details {
    display: flex;
    flex-direction: column;
    box-shadow: 10px 15px 62px 0px red;
    gap: 5px;
    width: 292px;
    height: 447px;
    padding: 10px;
}

.course-details .course-profile {
    width: 271px;
    height: 186px;
}

.course-star-review {

    display: flex;
    width: 90%;

    justify-content: space-between;
}

.course-lessons {
    display: flex;
    gap: 2px;
    padding-top: 2px;
}

.checkbox {
    padding-top: 2px;
    display: flex;
    gap: 10px;
}

.course p {
    padding: 10px 0;
}

.course-details .course-star {
    width: 64px;
    height: 12px;
}

.course-line {
    font-size: 20px;
    width: 250px;
    height: 25px;
}


.course-price-cart {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}

.course-price-cart .first {

    display: flex;
    gap: 10px;
}

.course-price-cart .second {
    display: flex;
    gap: 10px;
}





@media screen and(min-width: 1140px) {
    .course {
        width: 100%;

    }

    .course-details {
        width: 200px;
    }
}


.how-work{

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    /* flex-wrap: wrap; */
   
}
.how-heading{
    padding: 50px 0;
    width: 250px;
    height: 30px;
}

.how-work p{
    width: 281px;
    height: 50px;
}
.arrow1{
    padding-bottom: 5%;
    /* padding-left: 20%;
    transform: rotate(90deg);
    padding-bottom: 50%; */
}
.how-work div{
    text-align: center;
}


@media (max-width: 1120px) {
  .how-work{
    padding: 20px 0;
    flex-direction: column;
    gap: 60px;
  
  }

 .arrow1{
    transform: rotate(90deg);
    padding-top: 20px;
    padding-bottom: 20px;
}
.arrow2{
    transform: rotate(90deg);
    padding-top: 20px;
    padding-bottom: 20px;
}
}




 /* benefits */



 
 .benefits-e-learn{
    display: flex;
    flex-direction: column;
    align-items: center;

 }
 .benefits{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
 }
 .benefits-left,.benefits-right{
      width: 50%;
    display: flex;
    flex-direction: column;

    gap: 20px;
 }
 .benefits-right{
  
 
    text-align: right;
 }
.benefits-image{
    width: 350px;
    height: 475px;

}
.benefits h1{
 
    color: #45516B;
   

}
.benefits p{
    color: #4F4F4F;
}

@media(max-width:950px){
  
    .benefits{
        width: 100%;
        display: flex;
        padding-top: 40px;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        gap: 50px;
     }
     .benefits-left{
        width: 100%;
     }
     .benefits-right{
        width: 100%;
        text-align: left;
     }
 
    
}
@media(max-width:480px){
    .benefits h1{
        width: 100%;
        height: auto;
        font-size:18px;
    }
    .benefits p{
        width: 100%;
        height: auto;
        font-size:14px;
    }

   
}
    @media(max-width:375px){
        .benefits-left{
            width: 288px;
         }
         .benefits-right{
            width: 288px;
            text-align: left;
         }
        .benefits h1{
            width: 100%;
            height: auto;
            font-size:15px;
        }
        .benefits p{
            width: 100%;
            height: auto;
            font-size:13px;
        }
        .benefits-image{
            width: 196px;
            height: 264px;
          
        }
   
}

  #secondClass{
    display: none;
    width: 100%;
}

  /* view  */


   .view{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;


   }
   .view-left{
    display: flex;
    gap: 10px;
   }
   .view-img1{
    width: 122px;
    height: 237px;
    padding-top: 60px;
    
   }
   .view-img2{
    width: 388px;
    height: auto;

   }
   .view-right{

width: 100%;
   }
   .view-right h1{
    width: 450px;
    height: auto;
    font-size: 42px;
   }
   .view-right p{
    width: 558px;
    height: auto;
    font-size: 18px;
   }
   .view-right img{
     width: 170px;
     height: auto;
   }

   @media(max-width:1120px){
    
   .view{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;

   }
   }
   @media(max-width:550px){
    .view-left{
      
        gap: 5px;
       }
       .view-img1{
        width: 66px;
        height: 130px;
        padding-top: 60px;
        
       }
       .view-img2{
        width: 228px;
        height: auto;
    
       }
       .view-right{
    
    width: 100%;
       }
       .view-right h1{
        width: 306px;
        height: auto;
        font-size: 20px;
       }
       .view-right p{
        width: 357px;
        height: auto;
        font-size: 16px;
       }
       .view-right img{
         width: 89px;
         height: auto;
       }
   }
   @media(max-width:375px){
    .view-left{
      
        gap: 5px;
       }
       .view-img1{
        width: 66px;
        height: 130px;
        padding-top: 60px;
        
       }
       .view-img2{
        width: 228px;
        height: auto;
    
       }
       .view-right{
    text-align: center;
    width: 100%;
       }
       .view-right h1{
        width: 285px;
        height: 100%;
        font-size: 20px;
       }
       .view-right p{
        width: 288px;
        height: 60px;
        font-size: 16px;
       }
       .view-right img{
         width: 89px;
         height: auto;
       }
   }

   /* footer */

   footer{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding-bottom: 30px;
   }
   footer li{
    list-style: none;
    font-size:18px;
   }
   .footer-top{
    width: 80%;
    display: flex;
    gap: 20px;
    color: blue;
    padding-left: 50px;
   }

.footer-mit{
    display: flex;
    width: 90%;
    padding-top: 20px;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}
.footer-contact{
    display: flex;
    flex-direction: column;
    gap: 10px; 
       
}
.footer-contact div{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.footer-course,.footer-help{
  
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
    font-weight: bold;
}
.footer-course li,.footer-help li{
padding-top: 30px;
}

.footer-image{
 padding-top: 8%;
    
}
.footer-image img{
    padding-left: 20px;
}


@media(max-width:450px){
    footer{
        padding-bottom: 20px;
    }
    .footer-top{
        width: 80%; 
        padding-left: 0%;
       }
    .footer-mit{
        display: flex;
      
        flex-direction: column;
      
        gap: 20px;
    }
    footer li{
        font-size: 16px;
    }
   .footer-contact{
   
   padding-top: 40px;
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 20px;
   }

.footer-course,.footer-help{
    display: grid;
    width: 100%;
    padding-top: 20px;
    grid-template-columns: 1fr 1fr 1fr;
}
.footer-image div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.footer-image img{
    padding-left: 0;
}

}

